<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Hello World - Products</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:each="order : ${orders}">
        <tr>
            <td th:text="${order.id}"></td>
            <div th:each="product : ${order.products}">
                <p th:text="${product}"/>
            </div>
        </tr>
    </th:block>
</div>
</body>
</html>